
 /*  ###################################################################################
	 #					Author by: SreyEm SOR										   #
	 #                                                                                 #
	 ###################################################################################
 */



/*For this style is Banner in home page*/
.bigbanner{
	margin-top: 12.8%;
	width:105.7%;
	height: 230px;
	margin-left: -8px;
}
.wel{
	margin-top: -10%;
	color: white;
}
.info{
	margin-top: -0.5%;
	color: white;

}
/* Clear floats after the columns */
.row{
    margin-top: 3%;
    clear: both;
}
.row1{
    clear: both;

}
/* Create two equal columns that floats next to each other */
.new{
	margin-top:4%;
	height: 500px;
	border:2px solid #279aa3;
}
.column{
    float: left;
    width: 15%;
    padding: 2px;
    height: 150px; 
    
    margin-top: 20px;
}
.column1{
    float: left;
    width: 15%;
    padding: 4px;
    height: 150px; 
    
    margin-top: 60px;
}
#col1{
	margin-left: 5%;
}
#col2{
	margin-left: 17%;
}
#col3{
	margin-left:18%;
}
/*pic motoblikes style*/
.pic2,
.pic3,
.pic5,
.pic6{
	width: 200px;
	height: 200px;
}
.pic1,
.pic4{
	width:160px;
	height: 160px;

}
/*end picture motobikes style*/

.tages{
	width: 200px;
	margin-top: -70%;
	margin-left: 100%;
}

/*information of resale shop*/
.arrival{
	background: white;
	margin-top: -1.5%;
	margin-left: 3%;
	width: 200px;

}
/*end information of resale shop*/
a{
	text-decoration: none;
}