
 /*  ###################################################################################
	 #					Author by: 	SreyEm SOR  									   #
	 #                                                                                 #
	 ###################################################################################
 */



body {
	font-family:sans-serif;
	font-size: 15px;
}

/*Header style*/

.header{
	height: 130px;
	width: 100%;
	background:  #00796b;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*Logo on the top style*/
.logo{
	
    margin-right: 1135px;
    width: 185px;
    height: 135px;
    margin-top: -1px;
}


/*Block of menu style*/

.menu ul {
	position: absolute;
	top: 130px;
	width: 100%;
	left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00695c;
}
.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}
.menu a{
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 17px;
}

.HomeMenu{
	background: #111;
}


/*block of social media icons on the footer style*/

.facebook,.google,.youtube,.twitter{
	position: absolute;
	width: 30px;
	height: 30px;
	opacity: 0.7;
	right: 16%;
}
.twitter{
 	margin-top: 2.5%;
 	z-index: 1;

}
.facebook{
 	margin-top: 6%
}
.google{
 	margin-top: 10%
}
.youtube{
 	margin-top: 14%;
}

/*copy right Icon and  text on the footer*/

.copyright{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 57%;
	top: 69%;
	opacity: 0.7;
}
.copyrightText p{
	position: absolute;
	top: 65%;
	right: 45.5%;
	font-size: 14px;
	z-index: 1;
	color: white;
	opacity: 0.7;
}
.PNC p{
	position: absolute;
	top: 75%;
	right: 43%;
	font-size: 14px;
	z-index: 1;
	color: white;
	opacity: 0.7
}


/*Social media lik*/

.facebookLink,
.googleLink,
.youtubeLink,
.twitterLink{
	position: absolute;
	color: white;
}
.twitterLink{
	top: 15%;
	right: 6.5%;
}
.facebookLink{
	top: 37%;
	right: 5.5%;
}
.googleLink{
	top: 58%;
	right: 6.5%;
}
.youtubeLink{
	top: 77%;
	right: 5.8%;
}


/* place icon on footer(address of company)*/

.point{
	height: 120px;
	width:120px;
	position: absolute;
	right: 83%;
	top: 13%;
	opacity: 0.7;

}
.checkpoint{
	position: absolute;
	right: 73%;
	top: 55%;
	color: white;
	opacity: 0.7;
}


/*block of style under the logo on the footer*/

hr{
	width: 60px;
}
.right{
	position: absolute;
	right: 53%;
	top: 62%;
}
.left{
	position: absolute;
	right: 46%;
	top: 62%;
}

body{
	overflow-x: hidden;
}







/*block underline from social media link*/

.footer a{
	text-decoration: none;
	opacity: 0.7;
}

/*style under logo on footer*/

hr{
	width: 60px;
}
.right{
	position: absolute;
	right: 53%;
	top: 62%;
}
.left{
	position: absolute;
	right: 46%;
	top: 62%;
}
.footer h2{
	position: absolute;
	right:51%;
	top: 48%;
	color: white;
	opacity: 0.7;
}


.logoFooter{

	width: 185px;
	height: 135px;
	position: absolute;
	left: 41.3%;
	top: 8%
}

/*block footer style*/

.footer{
	height: 260px;
	width: 100%;
	background: #37474f;
	position: absolute;
	left: 0px;
	top: 980px;
}

/*block of social media icon  style on footer*/

.facebook,.google,.youtube,.twitter{
	position: absolute;
	width: 30px;
	height: 30px;
	opacity: 0.7;
	right: 16%;
}
.twitter{
 	margin-top: 2.5%;
 	z-index: 1;

}
.facebook{
 	margin-top: 6%
}
.google{
 	margin-top: 10%
}
.youtube{
 	margin-top: 14%;
}
